# Part 1 - A description of the problem and a discussion of the background.

### a) Description of the Problem

We are well versed on development in london and how they have emerged has a most fine country in the world. London is known for pubs, restaurants, night life, industrial sector. However, we will concentrate on restaurant section which are increasing with varieties. The real deal is that as much as there are many fine restaurants in London – Asian, Middle Eastern, Latin and American restaurants, its very difficult to find good place to dine in the finest of indian cuisine that has combination of Malvani, konkani, punjabi style.

### b) Discussion of the Background

Tadka, a successful restaurant chain in India is looking to expand operation into Europe through London. They want to create a high-end restaurant that comes with organic mix and healthy. Their target is not only Indians, but all communities which would like to taste something different. 
Since the London demography is so big, my client needs deeper insight from available data in other to decide where to establish the first Europe “palace” restaurant. This company spends a lot on research and provides customers with data insight into the ingredients used at restaurants.

### c) Target Audience

Considering the diversity in London where most people are multireligion based. London is a place where different shades live. Most people resides in london are migrants where they come for job or education from india. Definetly, by looking at the population we can determine there is highly shortage of indian restaurants in London.

# Part 2 - A description of the data and how it will be used to solve the problem

### Description of Data

This project will rely on public data from Wikipedia and Foursquare.

In this project, London will be used as synonymous to the "Greater London Area" in this project. Within the Greater London Area, there are areas that are within the London Area Postcode. The focus of this project will be the nieghbourhoods are that are within the London Post Code area.
The London Area consists of 32 Boroughs and the "City of London". Our data will be from the link - Greater London Area <https://en.wikipedia.org/wiki/List_of_areas_of_London >

A sample of the web scrapped of the Wikipedia page for the Greater London Area data is provided below:

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikipedia_page = requests.get(wikipedia_link, headers = headers)
wikipedia_page

In [4]:
# Cleans html file
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
# This extracts the "tbody" within the table where class is "wikitable sortable"
table = soup.find('table', {'class':'wikitable sortable'}).tbody
# table

In [5]:
rows = table.find_all('tr')
columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]

In [6]:
df = pd.DataFrame(columns = columns)

In [7]:
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

        df

In [8]:
df.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [9]:
df = df.rename(index=str, columns = {'Location': 'Location', 'London\xa0borough': 'Borough', 'Post town': 'Post-town', 'Postcode\xa0district': 'Postcode', 'Dial\xa0code': 'Dial-code', 'OS grid ref': 'OSGridRef'})

In [10]:
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

In [11]:
df0 = df.drop('Postcode', axis=1).join(df['Postcode'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('Postcode'))

In [12]:
df1 = df0[['Location', 'Borough', 'Postcode', 'Post-town']].reset_index(drop=True)

In [13]:
df1.head()

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [14]:
df2 = df1[['Location', 'Borough', 'Postcode']].reset_index(drop=True)

In [15]:
df_london = df2

In [16]:
!pip -q install geocoder
import geocoder

In [17]:
'''Geocoder starts here'''
'''Defining a function to use --> get_latlng()'''
def get_latlng(arcgis_geocoder):
    
    # Initialize the Location (lat. and long.) to "None"
    lat_lng_coords = None
    
    # While loop helps to create a continous run until all the location coordinates are geocoded
    
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords
'''Geocoder ends here'''

'Geocoder ends here'

In [18]:
postal_codes = df_london['Postcode']    
coordinates = [get_latlng(postal_code) for postal_code in postal_codes.tolist()]

In [19]:
# This will store the London dataframe with coordinates
df_london_loc = df_london

# The obtained coordinates (latitude and longitude) are joined with the dataframe as shown
df_london_coordinates = pd.DataFrame(coordinates, columns = ['Latitude', 'Longitude'])
df_london_loc['Latitude'] = df_london_coordinates['Latitude']
df_london_loc['Longitude'] = df_london_coordinates['Longitude']

In [20]:
df_london_loc.head()

     Location                         Borough Postcode  Latitude  Longitude
0  Abbey Wood             Bexley,  Greenwich       SE2  51.49245    0.12127
1       Acton  Ealing, Hammersmith and Fulham       W3  51.51324   -0.26746
2       Acton  Ealing, Hammersmith and Fulham       W4  51.48944   -0.26194
3       Angel                       Islington      EC1  51.52361   -0.09877
4       Angel                       Islington       N1  51.53792   -0.09983

The Foursquare API will be used to obtain the geographical location data for the London Area. These will be used to explore the venues in the neighbourhoods of London.
The venues will provide the categories needed for the analysis and eventually, these will be used to determine the viability of selected locations for the restaurant.

### How data will be used to solve the problem

With help of the data set 1 and 2, we can able explore number of location within the neighbourhood of London Postcode. Able to check the distance between the the different type of restaurants and which are connected within certain diameter.The proximity to transport connection and other amenities would be measured and check if it is flexible. Also, accessibility and ease of supplies of organic ingredients would be considered.